rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email in [
          'smilesnpostcards@gmail.com'
        ];
    }

    match /posts/{postId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /cities/{cityId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /itineraries/{itineraryId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /places/{placeId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /recommendations/{recommendationId} {
      allow read: if request.auth != null;
      allow create, update, delete: if isAdmin();
    }

    match /siteConfig/{docId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
  }
}
